<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="com.sigelu.merenda">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name="com.sigelu.merenda.App"
            android:allowBackup="true"
			android:label="@string/app_name"
            android:icon="@mipmap/icone_round"
			android:roundIcon="@mipmap/icone_round"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			tools:ignore="GoogleAppIndexingWarning">

        <!-- MAIN ACTIVITY -->
        <activity
                android:name="com.sigelu.merenda.ui.main.MainActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="logistica" />
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY -->
        <activity android:name="com.sigelu.merenda.ui.login.LoginActivity"
                  android:label="SIGELU Estoques - Login"/>

        <!-- LISTA PEDIDO ACTIVITY -->
        <activity android:name="com.sigelu.merenda.ui.lista_pedidos.ListaPedidoActivity"
                  android:configChanges="orientation"
                  android:theme="@style/AppThemeNoActionBar"
                  android:screenOrientation="portrait"/>

        <!-- VISUALIZA PEDIDO ACTIVITY -->
        <activity android:name="com.sigelu.merenda.ui.pedido.activity.VisualizarPedidoActivity"
                  android:label="@string/visualiza_requisicao_activity" />

        <!-- CADASTRA PEDIDO NOVO -->
            <!-- SELECIONA TIPO PEDIDO ACTIVITY -->
            <activity android:name="com.sigelu.merenda.ui.cadastra_pedido.cadastra_pedido_0_seleciona_tipo.SelecionaTipoPedidoActivity"
                      android:label="@string/cadastra_requisicao_titulo_activity" />

            <!-- SELECIONA OBRA ACTIVITY -->
            <activity android:name="com.sigelu.merenda.ui.cadastra_pedido.cadastra_pedido_0_seleciona_obra.SelecionaObraActivity"
                    android:label="@string/cadastra_requisicao_titulo_activity" />

            <!-- SELECIONA ITEM -->
            <activity android:name="com.sigelu.merenda.ui.cadastra_pedido.cadastra_pedido_1_seleciona_item.SelecionaItemPedidoParaNucleoActivity"
                    android:label="@string/cadastra_requisicao_titulo_activity" />

            <!-- CADASTRA ITEM -->
            <activity android:name="com.sigelu.merenda.ui.cadastra_pedido.cadastra_pedido_2_cadastra_item.CadastraItemPedidoActivity"
                    android:label="@string/cadastra_requisicao_titulo_activity"
                    android:windowSoftInputMode="adjustPan" />

            <!-- CONFIRMA ITEM -->
            <activity android:name="com.sigelu.merenda.ui.cadastra_pedido.cadastra_pedido_3_confirma.ConfirmaCadastroPedidoActivity"
                    android:label="@string/cadastra_requisicao_titulo_activity"
                    android:windowSoftInputMode="adjustPan"/>


        <!-- CADASTRA PARA ENVIO PARA OBRA NOVO -->
            <!-- CADASTRA ENVIO ACTIVITY -->
            <activity android:name="com.sigelu.merenda.ui.cadastra_envio.cadastra_envio_0_seleciona_obra.CESelecionaObraActivity"
                    android:label="@string/cadastra_envio_titulo_activity"
                    android:windowSoftInputMode="stateAlwaysVisible" />

            <activity android:name="com.sigelu.merenda.ui.cadastra_envio.cadastra_envio_2_seleciona_item.CESelecionaItemActivity"
                    android:label="@string/cadastra_envio_titulo_activity"
                    android:windowSoftInputMode="adjustPan" />

            <activity android:name="com.sigelu.merenda.ui.cadastra_envio.cadastra_envio_3_cadastra_item.CECadastraItemActivity"
                    android:label="@string/cadastra_envio_titulo_activity"
                    android:windowSoftInputMode="adjustPan" />

            <activity android:name="com.sigelu.merenda.ui.cadastra_envio.cadastra_envio_4_confirma.CEConfirmaActivity"
                    android:label="@string/cadastra_envio_titulo_activity"
                    android:windowSoftInputMode="adjustPan" />

        <!-- VISUALIZA ESTOQUE -->
        <activity android:name= "com.sigelu.merenda.ui.estoque.EstoqueActivity"
                  android:label="Alimentos em estoque"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>

        <!-- NOVO CADASTRA RECEBIMENTO -->
        <activity android:name="com.sigelu.merenda.ui.cadastra_recebimento.cadastra_recebimento_1_seleciona_envio.CRSelecionaEnvioActivity"
                android:label="@string/cadastra_recebimento_titulo"
                android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.sigelu.merenda.ui.cadastra_recebimento.cadastra_recebimento_2_cadastra_item.CRCadastraItemActivity"
                android:label="@string/cadastra_recebimento_titulo"
                android:windowSoftInputMode="adjustPan" />

        <activity android:name="com.sigelu.merenda.ui.cadastra_recebimento.cadastra_recebimento_3_confirma.CRConfirmaActivity"
                android:label="@string/cadastra_recebimento_titulo"
                android:windowSoftInputMode="adjustPan" />

    </application>
</manifest>
