<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="com.lemobs_sigelu.gestao_estoques">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".App"
            android:allowBackup="true"
			android:label="@string/app_name"
            android:icon="@mipmap/icone_round"
			android:roundIcon="@mipmap/icone_round"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			tools:ignore="GoogleAppIndexingWarning">

        <!-- MAIN ACTIVITY -->
        <activity
                android:name="com.lemobs_sigelu.gestao_estoques.ui.main.MainActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY -->
        <activity android:name=".ui.login.LoginActivity"
                  android:label="SIGELU Estoques - Login"/>

        <!-- LISTA PEDIDO ACTIVITY -->
        <activity android:name=".ui.lista_pedidos.ListaPedidoActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>

        <!-- VISUALIZA PEDIDO ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.pedido.activity.VisualizarPedidoActivity"
                  android:label="Visualizando Pedido"
                  />


        <!-- CADASTRA PEDIDO -->

        <!-- SELECIONA TIPO PEDIDO ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.cadastra_pedido.cadastra_pedido_0_seleciona_tipo.SelecionaTipoPedidoActivity"
                  android:label="Tipo de transação" />

        <!-- SELECIONA ITEM -->
        <activity android:name=".ui.cadastra_pedido.cadastra_pedido_1_seleciona_item.SelecionaItemPedidoParaNucleoActivity"
                android:label="Selecione os itens" />

        <!-- CADASTRA ITEM -->
        <activity android:name=".ui.cadastra_pedido.cadastra_pedido_2_cadastra_item.CadastraItemPedidoActivity"
                android:label="Selecione as quantidades" />

        <!-- CONFIRMA ITEM -->
        <activity android:name=".ui.cadastra_pedido.cadastra_pedido_3_confirma.ConfirmaCadastroPedidoActivity"
                android:label="Confirme as informações"
                android:windowSoftInputMode="adjustPan"/>

        <!-- CADASTRA FORNECEDOR ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.cadastra_pedido.cadastra_pedido_1_1_fornecedor.CadastraFornecedorActivity"
                  android:label="Selecione o fornecedor" />

        <!-- CADASTRA NÚCLEO ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.cadastra_pedido.cadastra_pedido_1_2_nucleo.CadastraNucleoActivity"
                  android:label="Selecione o núcleo" />

        <!-- CADASTRA OBRA ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.cadastra_pedido.cadastra_pedido_1_3_obra.CadastraObraActivity"
                  android:label="Selecione a obra" />

        <!-- CADASTRA PEDIDO DESTINO ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.cadastra_pedido.cadastra_pedido_1_informacoes_basicas.CadastraPedidoDestinoActivity"
                  android:label="Cadastrar Pedido" />

        <!-- FLUXO FORNECEDOR - NUCLEO -->
        <!-- SELECIONA ITEM ACTIVITY -->
        <activity android:name=".ui.cadastra_pedido.cadastra_pedido_2_1_seleciona_item_contrato.SelecionaItemPedidoActivity"
                  android:label="Selecione os itens"/>

        <!-- CADASTRA ITEM PEDIDO ACTIVITY -->
        <activity android:name=".ui.cadastra_pedido.cadastra_pedido_3_1_cadastra_item_contrato.CadastraItemPedidoActivity"
                  android:label="Selecione as quantidades"
                  android:windowSoftInputMode="adjustPan"/>

        <!-- CONFIRMA CADASTRO PEDIDO -->
        <activity android:name= ".ui.cadastra_pedido.cadastra_pedido_4_1_confirma.ConfirmaCadastroPedidoActivity"
                  android:label="Confirme informações"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>


        <!-- FLUXO NUCLEO - OBRA ou NUCLEO - NUCLEO -->
        <!-- SELECIONA ITEM ACTIVITY -->
        <activity android:name=".ui.cadastra_pedido.cadastra_pedido_2_2_seleciona_item_nucleo.SelecionaItemNucleoActivity"
                  android:label="Selecione os itens"/>

        <activity android:name=".ui.cadastra_pedido.cadastra_pedido_3_2_cadastra_item_nucleo.CadastraItemNucleoActivity"
                  android:label="Selecione as quantidades"
                  android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".ui.cadastra_pedido.cadastra_pedido_4_2_confirma_nucleo.ConfirmaCadastraPedidoNucleoActivity"
                  android:label="Confirme informações"/>




        <!-- CADASTRA RECEBIMENTO -->

        <!-- SELECIONA ENVIO ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.cadastra_recebimento.cadastra_recebimento_1_seleciona_envio.SelecionaEnvioRecebimentoActivity"
                  android:label="Selecione o envio"/>

        <!-- SELECIONA MATERIAL RECEBIMENTO ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.cadastra_recebimento.cadastra_recebimento_2_seleciona_item.SelecionaItemEnvioRecebimentoActivity"
                  android:label="Selecione os itens" />

        <!-- CADASTRA MATERIAL RECEBIMENTO ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.cadastra_recebimento.cadastra_recebimento_3_cadastra_item.CadastraItemRecebimentoActivity"
                  android:label="Selecione as quantidades"/>

        <!-- CONFIRMA MATERIAL RECEBIMENTO ACTIVITY -->
        <activity android:name="com.lemobs_sigelu.gestao_estoques.ui.cadastra_recebimento.cadastra_recebimento_4_confirma.ConfirmaRecebimentoActivity"
                  android:label="Confirme Informações"
                  android:screenOrientation="portrait" />



        <!-- CADASTRA ENVIO -->

        <!-- CADASTRA ENVIO ACTIVITY -->
        <activity android:name=".ui.cadastra_envio.cadastra_envio_1_informacoes_basicas.CadastraEnvioActivity"
                  android:label="Nome do motorista"
                  android:windowSoftInputMode="stateAlwaysVisible"
                 />

        <!-- SELECIONA ITEM ENVIO ACTIVITY -->
        <activity android:name=".ui.cadastra_envio.cadastra_envio_2_seleciona_item.SelecionaItemEnvioActivity"
                  android:label="Selecione os itens"
                  />

        <!-- CADASTRA ITEM ENVIO ACTIVITY -->
        <activity android:name=".ui.cadastra_envio.cadastra_envio_3_cadastra_item.CadastraItemEnvioActivity"
                  android:label="Selecione as quantidades"
                  android:windowSoftInputMode="adjustPan"
                  />

        <!-- CONFIRMA CADASTRO ENVIO -->
        <activity android:name= ".ui.cadastra_envio.cadastra_envio_4_confirma.ConfirmaCadastroEnvioActivity"
                  android:label="Confirme informações"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"
                  />


        <!-- CADASTRA RECEBIMENTO SEM PEDIDO-->

        <!-- SELECIONA ITEM CADASTRO RECEBIMENTO SEM PEDIDO  -->
        <activity android:name= ".ui.cadastra_recebimento_sem_pedido.cadastra_recebimento_sem_pedido_1_origem_destino.CadastraInformacoesActivity"
                  android:label="Cadastrar recebimento"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>

        <activity android:name= ".ui.cadastra_recebimento_sem_pedido.cadastra_recebimento_sem_pedido_2_seleciona_item.SelecionaItemActivity"
                  android:label="Selecione um item"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>

        <activity android:name= ".ui.cadastra_recebimento_sem_pedido.cadastra_recebimento_sem_pedido_3_cadastra_item.CadastraItemActivity"
                  android:label="Cadastre o item"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>

        <activity android:name= ".ui.cadastra_recebimento_sem_pedido.cadastra_recebimento_sem_pedido_4_confirma.ConfirmaRecebimentoSPActivity"
                  android:label="Confirme o recebimento"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"
                  />


        <!-- CADASTRA RECEBIMENTO SEM ENVIO-->

        <!-- SELECIONA ITEM CADASTRO RECEBIMENTO SEM ENVIO  -->
        <activity android:name= ".ui.cadastra_recebimento_sem_envio.cadastra_recebimento_se_1_seleciona_item.CadastraRecebimentoSESelecionaItemActivity"
                  android:label="Selecione os itens"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>

        <activity android:name= ".ui.cadastra_recebimento_sem_envio.cadastra_recebimento_se_2_cadastra_item.CadastraRecebimentoSECadastraItemActivity"
                  android:label="Selecione as quantidades"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>

        <activity android:name= ".ui.cadastra_recebimento_sem_envio.cadastra_recebimento_se_3_confirma.CadastraRecebimentoSEConfirmaActivity"
                  android:label="Confirme o recebimento"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>

        <!-- VISUALIZA ESTOQUE -->
        <activity android:name= ".ui.estoque.EstoqueActivity"
                  android:label="Materiais em estoque"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>
    </application>
</manifest>
